@import 'reset.css';

@font-face {
  font-family: 'read';
  src: url('font/Read Right.otf');
}

:root {
  --primary-bg-color: #2c4287;
  --primary-text-color: #f4cdb0;
  --light: #fff;
  --icon-color-red: #b62707;
  --background: var(--light);
}

.dark_mode {
  --dark: #333;
  --background: var(--dark);
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'read', sans-serif;
  background-color: var(--background);
}

#header {
  background-color: var(--primary-bg-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

.header-inner h1 {
  font-size: 25px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  text-align: center;
}

.header-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#book-image {
  width: 150px;
}

.addNewBook {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  background-color: var(--primary-text-color);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addNewBook:hover,
.addNewBook:focus {
  transform: translateY(-0.25em);
}

#logIn {
  color: var(--primary-text-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#main {
  display: grid;
  height: calc(100vh - 135px);
  padding: 20px;
}

.main-inner {
  width: 100%;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

.clear-all {
  justify-self: end;
  align-self: flex-end;
}

.card {
  width: 350px;
  height: 200px;
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.53);
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  border-radius: 10px;
  background-color: var(--light);
}

.imageOfBook {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  width: 100%;
}

.card-left {
  height: inherit;
}

.card-right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form {
  position: fixed;
  top: 30%;
  left: 45%;
  width: 300px;
  background-color: white;
  transform: scale(0);
  transition: all 0.5s ease-in;
  border-radius: 20px;
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.53);
}

.modal-inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
}

form input {
  border: none;
  padding-top: 10px;
  outline: none;
  background-color: transparent;
  width: 100%;
}

/* change input style */

.form-title,
.form-author,
.form-pages,
.form-img {
  position: relative;
}

.form-title label,
.form-author label,
.form-pages label,
.form-img label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  padding-left: 3px;
}

.input-name {
  position: absolute;
  bottom: 3px;
  transition: all 0.3s ease;
}

.form-title input:focus + label .input-name,
.form-title input:valid + label .input-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #b9b9b9;
}
.form-author input:focus + label .input-name,
.form-author input:valid + label .input-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #b9b9b9;
}
.form-pages input:focus + label .input-name,
.form-pages input:valid + label .input-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #b9b9b9;
}
.form-img input:focus + label .input-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #b9b9b9;
}

/* remove arrows for numbers */
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  margin-bottom: 5px;
}

h1 {
  font-size: 24px;
}

input[type='checkbox'] {
  width: auto;
  accent-color: var(--primary-text-color);
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.addToTheList {
  border: none;
  border-radius: 10px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 5px 0;
  transition: all 0.3s ease;
}

.addToTheList:hover,
.addToTheList:focus {
  transform: translateY(-0.25em);
}

.close,
span {
  cursor: pointer;
}

.fa-regular {
  border: none;
  background: transparent;
  cursor: pointer;
}

.fa-x {
  color: var(--icon-color-red);
}

.fa-check {
  color: #edb74a;
}

.fa-trash-can {
  color: var(--icon-color-red);
  align-self: flex-end;
}

.fa-xmark {
  font-size: 25px;
}

.editDeleteStatus {
  display: flex;
  justify-content: space-between;
}

.toggleDark {
  background: transparent;
  border: none;
  color: var(--primary-text-color);
  font-size: 25px;
  cursor: pointer;
}

footer {
  background-color: var(--primary-bg-color);
  text-align: center;
  width: 100%;
}

footer p {
  color: var(--primary-text-color);
  padding: 5px 0;
}

#name,
.fa-github {
  color: var(--primary-text-color);
}

.no-button {
  display: none;
}

/* active class */
.modal-form.active {
  visibility: visible;
  transform: scale(1);
}

/* blur class */
.blur {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}

/* media queries */

@media (max-width: 800px) {
  .header-inner h1 {
    font-size: 20px;
  }
  .modal-form {
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (max-width: 480px) {
  #book-image {
    width: 100px;
  }
  .header-inner {
    flex-direction: column;
    gap: 10px;
  }
  #main {
    padding: 10px 5px;
  }
  .modal-form {
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .main-inner {
    width: 100%;
    margin: 0;
    grid-gap: 10px;
    justify-items: center;
  }
}
